# BYOA: no content from the original disc enters the repo.
build/
*.rvz
*.RVZ
*.wia
*.wbfs
*.WBFS
*.iso
*.ISO
*.gcz
*.dol
*.elf
*.img
*.fpk
*.brres
*.brsar
*.brstm
*.thp
*.seq
*.bnr
*.arc
*.tpl
*.dat
*.bin
*.dsy
*.png
*.jpg
*.wav
__pycache__/
*.pyc
*.gcm
*.gcs
*.bik
*.amf
*.retail
gxtrace_*.txt
drawlog.txt
efb_*.png
nand/
*.zip
